# This is a .gitignore file for a project that includes various data files, model artifacts, and temporary files.
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/
README.md
cash/
contrastive_output/loss_plot.png
contrastive_output/loss_plot_200_pairs_5_epochs.png
data/Llama_no_wm.json
data/contrastive_pairs.json
lookup_cache_llama2.json
requirements.txt
requirements_modified.txt
safeseal.yml
src/**/__pycache__/

# OS-specific
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Hugging Face & model artifacts
.cache/
*.pt
*.bin
*.ckpt

# Logs, outputs, and temp files
*.log
*.lock

Generation_output/