".gitignore file recreated" 
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/checkpoint-10/config.json
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/checkpoint-10/model.safetensors
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/checkpoint-10/optimizer.pt
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/checkpoint-10/rng_state.pth
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/checkpoint-10/scheduler.pt
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/checkpoint-10/trainer_state.json
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/checkpoint-10/training_args.bin
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/classification_report.txt
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/confusion_matrix.txt    
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/model/config.json       
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/model/merges.txt        
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/model/model.safetensors 
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/model/special_tokens_map.json
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/model/tokenizer_config.json
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/model/training_args.bin 
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/model/vocab.json        
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/runs/Jun23_17-47-00_Desktop77/events.out.tfevents.1750715220.Desktop77.8964.0
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/test_metrics.csv        
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/train_results.json      
IPChecker_Llama3_top_3_threshold_0.8_Uniform_0_5_5_Deberta/training_evaluation_loss_plot.png
README.md
Train_Llama3_top_1_threshold_0.8_Uniform_0_1_Randomization.json
Train_Llama3_top_2_threshold_0.8_Uniform_0_1_1.json
Train_Llama3_top_2_threshold_0.8_Uniform_0_1_Randomization.json
Train_Llama3_top_3_threshold_0.8_Uniform_0_1_1.json
Train_Llama3_top_3_threshold_0.8_Uniform_0_1_Randomization.json
Train_Llama3_top_3_threshold_0.8_Uniform_0_5_5.json
Train_Llama3_top_3_threshold_0.8_Uniform_0_5_Randomization.json
Train_Llama3_top_4_threshold_0.8_Uniform_0_1_1.json
Train_Llama3_top_4_threshold_0.8_Uniform_0_1_Randomization.json
Train_Llama3_top_5_threshold_0.8_Uniform_0_1_1.json
Train_Llama3_top_5_threshold_0.8_Uniform_0_1_Randomization.json
cash/hub/models--microsoft--deberta-base-mnli/.no_exist/a80a6eb013898011540b19bf1f64e21eb61e53d6/added_tokens.json
cash/hub/models--microsoft--deberta-base-mnli/.no_exist/a80a6eb013898011540b19bf1f64e21eb61e53d6/model.safetensors
cash/hub/models--microsoft--deberta-base-mnli/\.no_exist/a80a6eb013898011540b19bf1f64e21eb61e53d6/model.safetensors.index.json
cash/hub/models--microsoft--deberta-base-mnli/.no_exist/a80a6eb013898011540b19bf1f64e21eb61e53d6/special_tokens_map.json
cash/hub/models--microsoft--deberta-base-mnli/.no_exist/a80a6eb013898011540b19bf1f64e21eb61e53d6/tokenizer.json
cash/hub/models--microsoft--deberta-base-mnli/refs/main
cash/hub/models--microsoft--deberta-base-mnli/snapshots/a80a6eb013898011540b19bf1f64e21eb61e53d6/config.json
cash/hub/models--microsoft--deberta-base-mnli/snapshots/a80a6eb013898011540b19bf1f64e21eb61e53d6/merges.txt
cash/hub/models--microsoft--deberta-base-mnli/snapshots/a80a6eb013898011540b19bf1f64e21eb61e53d6/pytorch_model.bin
cash/hub/models--microsoft--deberta-base-mnli/snapshots/a80a6eb013898011540b19bf1f64e21eb61e53d6/tokenizer_config.json
cash/hub/models--microsoft--deberta-base-mnli/snapshots/a80a6eb013898011540b19bf1f64e21eb61e53d6/vocab.json
cash/hub/version.txt
contrastive_output/loss_plot.png
contrastive_output/loss_plot_200_pairs_5_epochs.png
data/Llama_no_wm.json
data/contrastive_pairs.json
lookup_cache_llama2.json
requirements.txt
requirements_modified.txt
safeseal.yml
src/**/__pycache__/
*.pyc
*.png
contrastive_output/contrastive_model.pt
contrastive_output/perkey_watermark_detector.pt